<div data-ng-controller="welcome as vm">
    <row>
        <div class="jumbotron container-fluid">
            <div class="col-md-4">
                <img class="img-responsive" src="./public/content/images/threatdragon_logo_image.svg" alt="Threat Dragon Logo" />
            </div>
            <div class="col-md-8">
                <h1>Welcome!</h1>
                <p>
                    Threat Dragon is a free, open-source threat modeling tool from OWASP. You are using the standalone desktop app for Windows,
                    Macs and Linux. It can also be used as a <a target="_blank" href="https://threatdragon.org">web application</a>.
                    The desktop app is great for local use, but if your project is in GitHub you should consider the web
                    app for better integration with your dev workflow.
                </p>
                <p>
                    Now. You're ready to start making your application designs more secure. Use the file menu or the buttons below to make a
                    new model or to open a model from a file. You can also down load a demo model.
                </p>
            </div>
        </div>
    </row>
    <row>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="jumbotron container-fluid">
                <div class="text-center">
                    <a href="" ng-click="vm.openModel()">
                        <span title="Open a Model From A File" class="fa fa-folder-open fa-5x text-primary"></span>
                    </a>
                </div>
                <div>
                    <br>
                    <p>
                        Open an existing threat model from a file on your local file system.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="jumbotron container-fluid">
                <div class="text-center">
                    <a href="" ng-click="vm.openNewModel('./new-model.json')">
                        <span title="Create a new model" class="fa fa-plus fa-5x text-primary"></span>
                    </a>
                </div>
                <div>
                    <br>
                    <p>
                        Get started by creating a completely new, empty threat model.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="jumbotron container-fluid">
                <div class="text-center">
                    <a href="" ng-click="vm.openNewModel('./demo-model.json')">
                        <span title="Download and explore a sample threat model" class="fa fa-cloud-download fa-5x text-primary"></span>
                    </a>
                </div>
                <div>
                    <br>
                    <p>
                        Open a sample model. This is a good option if you are new to Threat Dragon.
                    </p>
                </div>
            </div>
        </div>
    </row>
</div>
