$orange: #dd3820;
$orange-alt: #d34615;
$gray: #aea79f;
$white: #ffffff;
$black: #333333;

$dark-bg: #121212;
$dark-text: #e0e0e0;
$dark-border: #424242;
$dark-hover-bg: #1e1e1e;
$dark-hover-text: #f5f5f5;
