$orange: #dd3820;
$orange-alt: #d34615;
$gray: #aea79f;
$white: #ffffff;
$black: #333333;


$lavender-dark-bg: #7367F0; // Lavender shade for the background
$lavender-dark-border: #675FDA; // Slightly darker lavender for borders
$lavender-dark-text: #EDE7F6; // Light lavender for text
$lavender-light-text: #ffffff;
