*.pfx
node_modules/
coverage/
typings/
cov-int/
npm-debug.log

# core does not use a package lock file
package-lock.json
# ignore Apple's desktop store files
**/.DS_Store
# ignore IDE files
.vscode/
.settings/
*.iml
