# uses allow-list, so ignore everything
*

# allow github, workflows and templates
!.github/
!.github/*.yaml
!.github/issue_template/
!.github/issue_template/*.md
!.github/workflows/
!.github/workflows/*.yaml
!.gitignore
!.gitattributes
!.lycheeignore
!.trivyignore
!.markdownlint.yaml

# docker files
!.dockerignore
!Dockerfile

# allow build system and artwork
!*.md
!license.txt
!cupcake/icons/*.ico
!cupcake/png/*.png
!cupcake/png/*.gif
!example.env
!package.json
!package-lock.json

# sample threat models
!ThreatDragonModels
!ThreatDragonModels/**/*.json

# documentation site
!docs
!docs/Gemfile
!docs/Gemfile.lock
!docs/*.md
!docs/*.yml
!docs/*.html
!docs/_layouts/
!docs/_layouts/*.html

# Express server
!td.server
!td.server/**/*.js
!td.server/.babelrc
!td.server/README.md
!td.server/package.json
!td.server/package-lock.json

# Vue front end
!td.vue
!td.vue/**/*.vue
!td.vue/**/*.js
!td.vue/**/*.scss
!td.vue/public/*
!td.vue/src/
!td.vue/src/assets/*.jpg
!td.vue/src/assets/*.svg
!td.vue/src/components/
!td.vue/src/components/
!td.vue/src/components/printed-report/
!td.vue/src/components/report/
!td.vue/src/desktop/
!td.vue/src/i18n/
!td.vue/src/icons/
!td.vue/src/plugins/
!td.vue/src/router/
!td.vue/src/service/
!td.vue/src/service/api/
!td.vue/src/service/demo/
!td.vue/src/service/entity/
!td.vue/src/service/migration/
!td.vue/src/service/provider/
!td.vue/src/service/threats/
!td.vue/src/service/x6/
!td.vue/src/store/
!td.vue/src/store/actions/
!td.vue/src/store/modules/
!td.vue/src/styles/
!td.vue/src/views/
!td.vue/src/views/demo/
!td.vue/src/views/git/
!td.vue/tests/
!td.vue/tests/e2e/
!td.vue/tests/e2e/desktop/
!td.vue/tests/e2e/fixtures/
!td.vue/tests/e2e/specs/
!td.vue/tests/e2e/support/
!td.vue/tests/unit/
!td.vue/tests/unit/components/
!td.vue/tests/unit/components/printed-report/
!td.vue/tests/unit/components/report/
!td.vue/tests/unit/desktop/
!td.vue/tests/unit/entity/
!td.vue/tests/unit/router/
!td.vue/tests/unit/service/
!td.vue/tests/unit/service/api/
!td.vue/tests/unit/service/demo/
!td.vue/tests/unit/service/entity/
!td.vue/tests/unit/service/migration/
!td.vue/tests/unit/service/provider/
!td.vue/tests/unit/service/threats/
!td.vue/tests/unit/service/x6/
!td.vue/tests/unit/store/actions/
!td.vue/tests/unit/store/modules/
!td.vue/tests/unit/views/
!td.vue/tests/unit/views/demo/
!td.vue/package.json
!td.vue/package-lock.json
!td.vue/.browserslistrc
!td.vue/.editorconfig
!td.vue/README.md
!td.vue/browserstack.nightly.json
!td.vue/browserstack.smokes.json

# utility scripts
!utils
!utils/**/*

