node_modules/
npm-debug.log
coverage/
typings/
build/
installers/

# ignore Apple's desktop store files
**/.DS_Store
# ignore VS and Eclipse files
.vscode/
.settings/
# ignore IntelliJ IDEA files
.idea/

# ignore .env file with sensitive information/secrets
.env

dist/
.nyc_output

# Ignore logs from server
td.server/*.log
app.log
audit.log

