language: node_js
node_js:
  - 14

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - xvfb

before_install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &

install:
  - npm install
  - npm run-script build
  - npm run-script install-server

after_success:
  - npm run-script codecov
  - cd td.server && npm run codecov
