BITBUCKET_CLIENT_ID=01234567890123456789
BITBUCKET_CLIENT_SECRET=0123456789abcdef0123456789abcdef0123456
BITBUCKET_SCOPE=repository:write
BITBUCKET_WORKSPACE=workspace_name

ENCRYPTION_KEYS='[{"isPrimary": true, "id": 0, "value": "11223344556677889900aabbccddeeff"}]'
ENCRYPTION_JWT_SIGNING_KEY=012345678912355678
ENCRYPTION_JWT_REFRESH_SIGNING_KEY=01234567990123456789

GITHUB_CLIENT_ID=1234567891234
GITHUB_CLIENT_SECRET=123456789123456789
GITHUB_ENTERPRISE_HOSTNAME=optional_if_using_enterprise
GITHUB_ENTERPRISE_PORT=optional_if_enterprise_and_non_standard
GITHUB_ENTERPRISE_PROTOCOL=optional_if_enterprise_and_non_standard
GITHUB_SCOPE=public_repo

NODE_ENV=development
SERVER_API_PROTOCOL=http
