<!DOCTYPE html>
<html>
<head>
    <title data-ng-bind="title">OWASP Threat Dragon Docs</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

    <script>
        // Must be first. IE10 mobile viewport fix
        if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
    
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <!-- bower:css -->
    <link href="libs/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="libs/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <!-- endbower -->

    <link href="content/themes/united/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="content/bootstrap-custom.css" rel="stylesheet" />

</head>
<body>
    
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#td-pages-nav-links" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">OWASP Threat Dragon</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="td-pages-nav-links">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://threatdragon.azurewebsites.net/" target="_blank"><span class="fa fa-flask fa-lg"></span> See the prototype</a></li>
                <li><a href="https://github.com/mike-goodwin/owasp-threat-dragon" target="_blank"><span class="fa fa-github fa-lg"></span> Visit us on GitHub</a></li>
            </ul>
        </li>
      </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    
    <div class="container-fluid">
        
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-sm-12 hidden-xs">
                        <a href="http://dreamsofmine.deviantart.com/" target="_label"><img src="content/images/threatdragon_logo_image.svg" alt="Image credit to DreamsOfMine" /></a>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                        <p class="lead text-justify">
                            Threat Dragon is an open-source threat modelling tool from OWASP. To use it, you don't need to sign-up or sign-in and it is completely free. All your models are stored on your local device, so your data is never sent to anyone else or stored at some unknown location on the cloud.
                        </p>
                        <p>
                            It is currently in the early stages of development (an OWASP incubator project) so there might be some bugs.
                        </p>
                        <p class="lead text-justify">
                            If you make a model that you want to keep, you can print it to a file or hard copy. You can also save the raw model data as a file to share with friends or move between your devices or browsers.
                        </p>
                        </br>
                        <p class="text-right">
                            <img src="content/images/owasp.svg" alt="OWASP logo" title="OWASP logo"/>
                        </p>
                    </div>
                </div>
            </div>
        </div> 
        
        <div class="row">
            
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="jumbotron">
                    <a href="#getting-started">
                        <div class="text-center">
                            <span class="glyphicon glyphicon-play fa-4x text-primary"></span>
                        </div>
                    </a>
                    <div>
                        </br><p>Getting started with Threat Dragon for the first time.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="jumbotron">
                    <a href="#threat-model-diagrams">
                        <div class="text-center">
                            <span class="glyphicon glyphicon-picture fa-4x text-primary"></span>
                        </div>
                    </a>
                    <div>
                        </br><p>How to work with diagrams for your threat model .</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="jumbotron">
                    <a href="#editing-threat-models">
                        <div class="text-center">
                            <span class="glyphicon glyphicon-edit fa-4x text-primary"></span>
                        </div>
                    </a>
                    <div>
                        </br><p>How to export threat models and share them with friends.</p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="jumbotron">
                    <a href="#threat-generation">
                        <div class="text-center">
                            <span class="glyphicon glyphicon-flash fa-4x text-primary"></span>
                        </div>
                    </a>
                    <div>
                        </br><p>A description of the rules used for threat generation.</p>
                    </div>
                </div>
            </div>
            
        </div>
               
    </div>
    <div class="container-fluid">
        <div class="panel panel-default" id="getting-started">
            <div class="panel-heading panel-title">
                <h2>Getting started <span class="glyphicon glyphicon-play fa-lg text-primary pull-right"></span></h2>
            </div>
            <div class="panel-body">
                <h3>Starting from scratch</h3>
                <p>
                When you browse to Threat Dragon for the first time and hit <a href="https://threatdragon.azurewebsites.net" target="_blank"><code>https://threatdragon.azurewebsites.net</code></a> you will see the Welcome page. To get started with your threat model click or tap
                </p>
                <p>
                <div>
                    <a class="btn btn-lg btn-default" role="button">
                        <span class="glyphicon glyphicon-open"></span> Create Local Model
                    </a>
                </div>
                </p>
                <p>
                    and then
                </p>
                <p>
                    <div>
                        <h4><a><span class="glyphicon glyphicon-plus"></span> Create new threat model...</a></h4>
                    </div>
                </p>              
                <hr>
                <p>
                   This takes you to the threat model edit page where you can enter general information about your model. The <strong>Title</strong> field is mandatory. All the rest are optional, but they provide
                   context for your model. This can be useful if someone else has to pick the model up in the future. Although only the <strong>Title</strong> field is mandatory, your model will a be pretty useless without <strong>Diagrams</strong>. Add some diagrams to your model by clicking or tapping
                </p>
                <p>
                <div>
                    <a class="btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span> Add a new diagram...
                    </a>
                </div>
                </p>
                <hr>
                <p>
                    Name your diagram and then click or tap <strong>Add</strong> to confirm or <strong>Cancel</strong> if you change your mind 
                </p>
                <p>
                    <div class="input-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <input class="form-control" type="text" value="Your cool new diagram"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-plus"></span> Add
                            </button>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-link" type="button">
                                <span class="glyphicon glyphicon-remove"></span> Cancel
                            </button>
                        </span>
                    </div>
                </p>
                <p>
                    At this stage you are just listing the diagrams and naming them. You add all the diagram elements later.
                </p>
                <hr>
                <p>
                    Once you have entered all the details you need, click or tap <strong>Save</strong>. You can also <strong>Cancel</strong> to exit without saving, or <strong>Reload</strong> to undo any changes and revert to your last save.
                </p>
                <p>
                    <div class="btn-group">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-remove"></span> Cancel
                        </button>
                        <button class="btn btn-default" type="button">
                            <span class="fa fa-undo"></span> Reload
                        </button>
                        <button class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </p>
                <hr>
                <p>
                    <strong class="text-primary">Congratulations!</strong> You have got the basics done. Next step...mapping out your system in a diagram.
                </p>
                <hr>
                <h3>Starting from a file</h3>
                <p>
                    If a friend or colleague has sent you a threat model file then you can import it into your local storage. Go to the 
                    threat models list at <a href="https://threatdragon.azurewebsites.net/#/threatmodels" target="_blank"><code>https://threatdragon.azurewebsites.net/#/threatmodels</code></a>. To import the model, click or tap
                </p>
                <p>
                    <div>
                        <h4><a><span class="fa fa-folder-open"></span> Load a threat model from a file...</a></h4>
                    </div>
                </p>
                <p>
                    Now browse to your file. By default it will have file extension <code>.dragon</code>. Open it and you are done!
                    Your new model should appear in your threat model list.
                </p>
                <hr>
                <h3>Loading a demo model</h3>
                <p>
                    If you are wondering how to start, you can load a sample threat model. Go to the 
                    threat models list at <a href="https://threatdragon.azurewebsites.net/#/threatmodels" target="_blank"><code>https://threatdragon.azurewebsites.net/#/threatmodels</code></a>. To download the sample, click or tap
                </p>
                <p>
                    <div>
                        <h4><a><span class="glyphicon glyphicon-cloud-download"></span> Download a demo model...</a></h4>
                    </div>
                </p>
                <p>
                    This should give you some ideas on how to get started with your own model.
                </p>
            </div>
        </div>
    </div>
          
    <div class="container-fluid">
        <div class="panel panel-default" id="threat-model-diagrams">
            <div class="panel-heading panel-title">
                <h2>Threat model diagrams <span class="glyphicon glyphicon-picture fa-lg text-primary pull-right"></span></h2> 
            </div>
            <div class="panel-body">
                <h3>Processes, data stores and actors</h3>
                <p>
                Add model elements to your diagram by clicking or tapping the relevant shape in the stencil on the left side of the 
                diagram editor. Once added they can be selected by clicking them to see their properties and threats and 
                dragged around the diagram. to delete an element, first select it and then click on the red icon it the elements top left
                corner...
                </p>
                <img src="content/images/actorelement.png" width="200px" alt="image showing the element delete tool" />
                <hr>               
                <h3>Data flows and trust boundaries</h3>
                <p>
                Data flows and trust boundaries can be added to the diagram by clicking their shape in the stencil on the left side of
                the diagram editor. Once added, their ends can be dragged around the diagram. To connect the end of a data flow to a process,
                data store or actor, you can drag one of its ends onto the element.
                </p>
                <p>
                An easier way to draw data flows between elements is to select your first element, then click the grey link tool, next to the red
                remove tool near the top right of the selected element. This turns the link tool green. Then, when you click another element, 
                a new data flow will be created, linking the first element to the second.
                </p>
                <img src="content/images/shapelink.png" width="130px" alt="element link tool" />
                <p>
                Extra vertices can be added by clicking at some
                point on the line. These new vertices can also be dragged to position the data flow or trust boundary. Vertices can be removed
                by clicking the remove tool that appears when you mouse near to the vertex.
                </p>
                <img src="content/images/vertexremove.png" width="100px" alt="vertex remove tool" />
                <p>
                A data flow can be selected by clicking the <strong>Link options</strong> tool that appears when you mouse near to the link.
                Once selected you can edit its properties or add threats to it. Trust boundaries cannot be selected.
                </p>
                <img src="content/images/flowselect.png" width="100px" alt="flow select tool" />
                <p>
                Data flows and trust boundaries can be deleted by clicking the red remove tool that appear when you mouse near to them.
                </p>
                <img src="content/images/flowremove.png" width="100px" alt="flow remove tool" />
                <hr>
                <h3>Editing toolbar</h3>
                The toolbar on the diagram editing page supports some general diagramming features:
                <hr>
                <p>
                <a class="btn btn-default" role="button" data-toggle="tooltip" data-placement="top" title="Cancel Edit">
                    <span class="glyphicon glyphicon-remove"></span>
                </a> Cancels the edit and returns to the threat model details view.
                </p>
                <p>
                <button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="top" title="Zoom in">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                </button>
                <button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="top" title="Zoom out">
                    <span class="glyphicon glyphicon-zoom-out" aria-hidden="true"></span>
                </button> Zooms the diagram in and out.
                </p>
                <p>
                <button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="top" title="Delete All Elements From This Diagram">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button> Clears all the elements from the model.
                </p>
                <p>
                <button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="top" title="Discard Changes And Reopen Diagram">
                    <span class="fa fa-undo" aria-hidden="true"></span>
                </button> Reloads the diagram from the last save, discarding any changes.
                </p>
                <p>
                <button class="btn btn-default" type="button" data-toggle="tooltip" data-placement="top" title="Suggest threats for the selected element">
                    <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                </button> Generates threats for the selected element using the threat generation rule engine.
                </p>
                <div class="alert alert-info" role="alert">
                    <span class="fa fa-flask"></span> In the current alpha version of OWASP Threat Dragon, the threat generation rule engine is a stub, but you can still manually 
                    add threats to create a full threat model.
                </div>
                <p>
                <button class="btn btn-default" ng-disabled="!vm.dirty" type="button" data-toggle="tooltip" ng-click="vm.save()" data-placement="top" title="Save This Diagram">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                </button> Saves the threat model to your local browser storage.
                </p>
                <hr>
                <h3>Element properties</h3>
                To edit the properties of a model element, first select it. The element properties are shown on the right side of
                the diagram editor. In a future version of Threat Dragon, these properties will be used by the threat generation engine to
                suggest threats and mitigations for your model.
                <hr>
                <h3>Adding and editing threats</h3>
                <p>
                To add threats to elements in your diagram, select an element and tap or click <strong>Edit Threats</strong> on the left side
                of the diagram editor.
                This will collapse the model element stencil and show the threats for the selected element. To add a new threat, tap or click
                </p>
                <p>
                    <div>
                        <button id="buttonNewThreat" class="btn btn-link" ng-click="onNewThreat()">
                            <span class="glyphicon glyphicon-plus"></span> Add a new threat...
                        </button>
                    </div>
                </p>
                Enter the details for your threat in the threat dialog. The <strong>Title</strong> and <strong>STRIDE Threat Type</strong>
                are mandatory. When you are done, hit <strong>Save</strong>. Your new threat should appear. To edit it again, tap or click
                its title.
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="panel panel-default" id="editing-threat-models">
            <div class="panel-heading panel-title">
                <h2>Sharing and exporting threat models <span class="glyphicon glyphicon-edit fa-lg text-primary pull-right"></span></h2>
            </div>
            <div class="panel-body">
                <h3>Sharing</h3>
                <p>
                If you would like to share a threat model between your devices or browsers or with a friend you can save the model data
                as a file. This can be done from the threat models list.
                </p>
                <p>
                    <button class="btn btn-default btn-sm" role="button" data-toggle="tooltip" data-placement="top" title="Save this threat model as a local file">
                    <span class="glyphicon glyphicon-file"></span>  Save To File
                    </button>
                </p>
                This will save the model data in a local file. The file name will be built from the threat model title by replacing spaces in the title
                with underscore characters (_). So for example, a threat model called <strong>My Cool Model</strong> will result in a file called 
                <code>My_Cool_Model.dragon</code>. Another use for this file is if you would like to keep the model in your source control system.
                <hr>
                <h3>Printing</h3>
                <p>
                You can create a printed version of the model (or a PDF or XPS version if you have the appropriate printer driver). This can be done
                from either the threat models list or the threat model detail page.
                </p>
                <p>
                    <a class="btn btn-default btn-sm" role="button" data-toggle="tooltip" data-placement="top" title="View and print threat model report">
                        <span class="glyphicon glyphicon-print"></span> Print
                    </a>                    
                </p>
                This will create a new browser tab with a report style view of the threat model showing the summary data, all the diagrams
                and all the elements from each diagram with their properties and threats. This can then be printed.              
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="panel panel-default" id="threat-generation">
            <div class="panel-heading panel-title">
                <h2><span class="fa fa-flask"></span> Threat generation rules <span class="glyphicon glyphicon-flash fa-lg text-primary pull-right"></span></h2>
            </div>
            <div class="panel-body">
                <p>
                Threat Dragon is still working towards its first milestone - an alpha release. At this point, the threat generation rules so far are just a stub to prove the technical approach. A more fully functional rule set
                is planned for the beta release (milestone 2), as described in the <a href="https://www.owasp.org/index.php/OWASP_Threat_Dragon#Roadmap" target="_blank"> roadmap</a>.
                
                Threat Dragon's alpha release aims to provide a basic threat modelling experience, but for the time being, you are on your own in terms of identifying threats and mitigations. 
                </p>
            </div>
        </div>
    </div>
    
    <!-- bower:js -->
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/bootstrap/bootstrap.min.js"></script>
    <!-- endbower -->

</body>
</html>

