<div class="clearfix" ng-if="canPrevious || canNext">
    <button ng-disabled="!canPrevious" class="pull-left btn btn-link" ng-click="previous()">Previous page</button>
    <button ng-disabled="!canNext" class="pull-right  btn btn-link" href="" ng-click="next()">Next page</button>
</div>
<div class="list-group">
    <a ng-repeat="item in items" ng-click="select({item: item})" class="list-group-item h4">{{item}}</a>
</div>
<div ng-if="(canPrevious || canNext) && items.length >= 10">
    <button ng-disabled="!canPrevious" class="pull-left btn btn-link" ng-click="previous()">Previous page</button>
    <button ng-disabled="!canNext" class="pull-right  btn btn-link" href="" ng-click="next()">Next page</button>
</div>
