.DS_Store
node_modules

# webpack output
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# unit test and e2e testing logs
*.log
tests/e2e/reports/
tests/e2e/videos
tests/e2e/screenshots/
log/
results/

#Electron-builder output
/dist-desktop
