{
    "presets": [
        [
            "@babel/preset-env",
            {
                "shippedProposals": true,
                "targets": {
                    "node": "current"
                },
                "modules": false
            }]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime", {
            "regenerator": true
        }]
    ]
}
