<div>
    <div class="modal-header">
        <h3>{{parameter.heading}}<span class="pull-right" ng-if="parameter.threatTotal"> ({{parameter.threatIndex}} of {{parameter.threatTotal}})</span></h3>
    </div>
    <div class="modal-body">
        <form name="threatEditForm">
            <div class="form-group">
                <label>Title</label>
                <input name="titleInput" class="form-control" ng-required="true" type="text" ng-model="parameter.threat.title" placeholder="A short title for the threat" />
                <div ng-show="!threatEditForm.titleInput.$valid && threatEditForm.titleInput.$dirty">
                    <p>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            The threat title cannot be empty.
                        </div>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label>LINDDUN threat type</label>
                <select name="typeInput" class="form-control" ng-required="true" ng-model="parameter.threat.type">
                    <option selected>Linkability</option>
                    <option>Identifiability</option>
                    <option>Non-repudiation</option>
                    <option>Detectability</option>
                    <option>Disclosure of information</option>
                    <option>Unawareness</option>
                    <option>Non-compliance</option>
                </select>
                <div ng-show="!threatEditForm.typeInput.$valid && threatEditForm.typeInput.$dirty">
                    <p>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            The threat type cannot be empty.
                        </div>
                    </p>
                </div>
            </div>
            <div class="form-group pull-left">
                <label>Threat status</label>
                <div>
                    <div class="btn-group" name="statusInput">
                        <label class="btn btn-primary" name="statusInputOpen" ng-model="parameter.threat.status" uib-btn-radio="'Open'">Open</label>
                        <label class="btn btn-primary" name="statusInputMitigated" ng-model="parameter.threat.status" uib-btn-radio="'Mitigated'">Mitigated</label>
                    </div>
                </div>
            </div>
            <div class="form-group pull-right">
                <label>Severity</label>
                <div>
                    <div class="btn-group" required>
                        <label class="btn btn-default" ng-model="parameter.threat.severity" uib-btn-radio="'High'">High</label>
                        <label class="btn btn-default" ng-model="parameter.threat.severity" uib-btn-radio="'Medium'">Medium</label>
                        <label class="btn btn-default" ng-model="parameter.threat.severity" uib-btn-radio="'Low'">Low</label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="descriptionInput" ng-model="parameter.threat.description" class="form-control" rows="5" placeholder="Detailed description of the threat"></textarea>
            </div>
            <div class="form-group">
                <label>Mitigations</label>
                <textarea name="mitigationInput" ng-model="parameter.threat.mitigation" class="form-control" rows="5" placeholder="Mitigations for the threat"></textarea>
            </div>
        </form>
    </div>
    <div ng-if="parameter.editing" class="modal-footer">
        <button class="btn btn-primary" ng-disabled="!threatEditForm.$dirty || !threatEditForm.$valid" ng-click="onOK()">Save</button>
        <button class="btn btn-default" ng-click="onCancel()">Cancel</button>
    </div>
    <div ng-if="!parameter.editing" class="modal-footer">
        <span class="pull-left">
            <input type="checkbox" ng-model="applyToAll">
            Do this for all remaining threats 
        </span>
        <tmt-modal-close action="onOK(applyToAll)" new-class="fade-left" template-url="diagrams/modalAccept.html"></tmt-modal-close>
        <tmt-modal-close action="onCancel(applyToAll)" new-class="fade-down" template-url="diagrams/modalIgnore.html"></tmt-modal-close>
    </div>
</div>
