<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand">
                <div>
                    <img src="public/content/images/threatdragon_logo.svg"/>
                </div>
            </a>
        </div>

        <!-- Navigation starts -->
        <div class="navbar-collapse collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-include="'logoutform'">
                    <!--<form class="navbar-form" role="login" method="POST" action="logout">
                        <input type="hidden" name="_csrf" ng-value="vm.csrfToken"/>
                        <button type="submit" class="btn btn-primary navbar-btn">
                            <i class="fa fa-sign-out fa-2x icon-align fa-fw"></i> <span>Sign out</span>
                        </button>   
                    </form>      -->
                </li>
                <li>
                    <form class="navbar-form">
                        <a class="btn btn-primary navbar-btn" href="http://docs.threatdragon.org/" target="_blank">
                            <i class="fa fa-question-circle fa-2x icon-align fa-fw"></i><span> Get some help</span>
                        </a>
                    </form>
                </li>
                <li>
                    <form class="navbar-form"> 
                        <a class="btn btn-primary navbar-btn" href="https://github.com/mike-goodwin/owasp-threat-dragon" target="_blank">
                            <i class="fa fa-github fa-2x icon-align fa-fw"></i><span> Visit us on GitHub</span>
                        </a>
                    </form>
                </li>
                <li>
                    <form class="navbar-form">
                        <a class="btn btn-primary navbar-btn" href="https://www.owasp.org" target="_blank">
                            <div>
                                <img src="public/content/images/owasp.svg"/>
                            </div>
                        </a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>