<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand">
                <img src="public/content/images/threatdragon_logo.svg" />
            </a>
        </div>

        <!-- Navigation starts -->
        <div class="navbar-collapse collapse" id="navbar-collapse-1">
            <div class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-right" role="logout" method="POST" action="logout">
                    <span class="navbar-form-text" ng-include="'logoutform'"></span>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-sign-out fa-2x icon-align" title="Log out"></i>
                    </button>
                    <a class="btn btn-primary" href="http://docs.threatdragon.org/" target="_blank">
                        <i title="Get some help" class="fa fa-question-circle fa-2x"></i>
                    </a>
                    <a class="btn btn-primary" href="https://github.com/mike-goodwin/owasp-threat-dragon" target="_blank">
                        <i title="Visit us on GitHub" class="fa fa-github fa-2x"></i>
                    </a>
                    <a title="Go to the OWASP wiki" class="btn btn-primary" href="https://www.owasp.org" target="_blank">
                        <img src="public/content/images/owasp.svg" />
                    </a>
                </form>
            </div>
        </div>
    </div>
</nav>