<div ng-if="model.summary">
    <div class="panel panel-default">
        <div class="panel-heading panel-title">
            <h4>Threat model report for {{model.summary.title}}</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-2">
                <div><strong>Owner: </strong></div>
                <div>{{model.summary.owner}}</div>
            </div>
            <div class="col-md-2">
                <div><strong>Reviewer: </strong></div>
                <div>{{model.detail.reviewer}}</div>
            </div>
            <div class="col-md-8">
                <div><strong>Contributors: </strong></div>
                <div>
                    <span ng-repeat="contributor in model.detail.contributors"> {{contributor.name}}<span ng-show=" ! $last ">;</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-title">
            <h4>High level system description</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">{{model.summary.description}}</div>
        </div>
    </div>
    <div ng-if="!isPrinting" class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right" role="group">
                <button class="btn btn-primary" role="button" ng-click="generatePDF()" data-toggle="tooltip" data-placement="top" title="Save Threat Model Report As PDF">
                    <span class="fa fa-file-pdf-o"></span> Save PDF
                </button>
            </div>
        </div>
    </div>
</div>