<div ng-if="!isPrintingOrSaving" class="panel panel-default">
    <div class="panel-body">
        <div class="pull-left">
            <div>
                <input type="checkbox" name="cbShowOutOfScope" ng-model="showOutOfScope" ng-click="toggleShowOutOfScope()"> Show out of scope elements
            </div>
            <div>
                <input type="checkbox" name="cbShowMitigated" ng-model="showMitigated" ng-click="toggleShowMitigated()"> Show mitigated threats
            </div>
        </div>
        <div class="btn-group pull-right" role="group">
            <button ng-if="saveable" class="btn btn-default" id="savePDFButton" role="button" ng-click="savePDF()" data-toggle="tooltip" data-placement="top" title="Save Threat Model Report As PDF">
                <span class="fa fa-floppy-o"></span> Save PDF
            </button>
            <button ng-if="printable" class="btn btn-default" id="printButton" role="button" ng-click="printPDF()" data-toggle="tooltip" data-placement="top" title="Print Threat Model Report">
                <span class="glyphicon glyphicon-print"></span> Print
            </button>
            <button class="btn btn-primary" id="cancelButton" role="button" ng-click="cancel()" data-toggle="tooltip" data-placement="top" title="Return To Detail View">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
        </div>
    </div>
</div>
<div ng-if="model.summary">
    <div class="panel panel-default">
        <div class="panel-heading panel-title">
            <h4 id="titleText">Threat model report for {{model.summary.title}}</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-2">
                <div><strong>Owner: </strong></div>
                <div>{{model.summary.owner}}</div>
            </div>
            <div class="col-md-2">
                <div><strong>Reviewer: </strong></div>
                <div>{{model.detail.reviewer}}</div>
            </div>
            <div class="col-md-8">
                <div><strong>Contributors: </strong></div>
                <div>
                    <span ng-repeat="contributor in model.detail.contributors"> {{contributor.name}}<span ng-show=" ! $last ">;</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-title">
            <h4>High level system description</h4>
        </div>
        <div class="panel-body">
            <div class="col-md-12">{{model.summary.description}}</div>
        </div>
    </div>
    <div ng-repeat="diagram in model.detail.diagrams">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <h4>{{diagram.title}}</h4>
            </div>
            <div class="panel-body">
                <div ng-repeat="element in diagram.diagramJson.cells | filter:{ type: '!tm.Boundary'} && {outOfScope: false}">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-title">
                            {{element.type == 'tm.Flow'? element.labels[0].attrs.text.text : element.attrs.text.text}}
                            <span ng-switch="element.type">
                                <span ng-switch-when="tm.Store">(Data Store)</span>
                                <span ng-switch-when="tm.Flow">(Data Flow)</span>
                                <span ng-switch-when="tm.Process">(Process)</span>
                                <span ng-switch-when="tm.Actor">(External Actor)</span>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div ng-if="hasOpenThreats(element) || (showMitigated && element.threats.length > 0)">
                                <div ng-repeat="threat in element.threats">
                                    <div ng-if="threat.status == 'Open' || showMitigated" class="panel panel-default">
                                        <div class="panel-heading panel-title">
                                            <div>
                                                {{threat.title}}
                                            </div>
                                            <em class="small">
                                                {{threat.type}},
                                                <span ng-class="{Mitigated:'text-success', Open:'text-danger'}[threat.status]">{{threat.status}}</span>,
                                                <span ng-class="{Low:'text-success', Medium:'text-warning', High:'text-danger'}[threat.severity]">{{threat.severity}} Severity</span>                   
                                            </em>  
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-md-12">
                                                <div><strong>Description: </strong></div>
                                                <div>{{threat.description}}</div>
                                            </div>
                                            <div class="col-md-12">
                                                <div><strong>Mitigation: </strong></div>
                                                <div>{{threat.mitigation}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="element.threats.length == 0 || !element.threats || (!hasOpenThreats(element) && !showMitigated)">
                                <div>
                                    <em>No threats listed.</em>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="showOutOfScope" ng-repeat="element in diagram.diagramJson.cells | filter:{ type: '!tm.Boundary'} && {outOfScope: true}">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-title">
                            {{element.type == 'tm.Flow'? element.labels[0].attrs.text.text : element.attrs.text.text}}
                            <span ng-switch="element.type">
                                <span ng-switch-when="tm.Store">(Data Store)</span>
                                <span ng-switch-when="tm.Flow">(Data Flow)</span>
                                <span ng-switch-when="tm.Process">(Process)</span>
                                <span ng-switch-when="tm.Actor">(External Actor)</span>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div><strong>Out of scope reason: </strong></div>
                            <div>{{element.reasonOutOfScope}}</div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!isPrintingOrSaving" class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right" role="group">
                <button ng-if="saveable" class="btn btn-default" id="savePDFButton" role="button" ng-click="savePDF()" data-toggle="tooltip" data-placement="top" title="Save Threat Model Report As PDF">
                    <span class="fa fa-floppy-o"></span> Save PDF
                </button>
                <button ng-if="printable" class="btn btn-default" id="printButton" role="button" ng-click="printPDF()" data-toggle="tooltip" data-placement="top" title="Print Threat Model Report">
                    <span class="glyphicon glyphicon-print"></span> Print
                </button>
                <button class="btn btn-primary" id="cancelButton" role="button" ng-click="cancel()" data-toggle="tooltip" data-placement="top" title="Return To Detail View">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </button>
            </div>
        </div>
    </div>
</div>