<div>
    <div class="modal-header">
        <h3>How about an update?</h3>
    </div>
    <div class="modal-body">
        A new version of OWASP Threat Dragon is available. Press <strong class="text-primary">Update</strong> to restart and install now, or press
        <strong class="text-primary">Later</strong> to continue with the current version and install the update later.
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="onOK()">Update</button>
        <button class="btn btn-primary" ng-click="onCancel()">Later</button>
    </div>
</div>
