<div>
    <div class="modal-header">
        <h3>Are you sure?</h3>
    </div>
    <div class="modal-body">
        Your diagram has unsaved changes and if you reload they will be lost!
        Press Cancel to keep the unsaved changes, or press OK to reload the diagram and lose the unsaved changes.
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="onOK()">OK</button>
        <button class="btn btn-primary" ng-click="onCancel()">Cancel</button>
    </div>
</div>
