<div data-ng-controller="diagram as vm" class="container-fluid diagram-container">
    <div ng-show="!vm.errored">
        <div class="col-lg-2">
            <!--Diagram stencil-->
            <uib-accordion close-others="true">
                <div uib-accordion-group is-open="vm.viewStencil">
                    <uib-accordion-heading>
                        Edit diagram <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.viewStencil, 'glyphicon-chevron-right': !vm.viewStencil}"></i>
                    </uib-accordion-heading>
                    <div ng-repeat="stencil in vm.stencils">
                        <div height="120">
                            <tmt-stencil class="stencil" shape="stencil.shape" padding="5" scale="0.9" action="stencil.action()" />
                        </div>
                    </div>
                </div
                <!--Threat pane-->
                <div uib-accordion-group is-open="vm.viewThreats">
                    <uib-accordion-heading>
                        Manage threats <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.viewThreats, 'glyphicon-chevron-right': !vm.viewThreats}"></i>
                    </uib-accordion-heading>
                    <div ng-if="!vm.selected">
                        <em>Select an element in the diagram to see or edit its threats</em>
                    </div>
                    <div ng-if="vm.selected && vm.selected.attributes.type != 'tm.Boundary'">
                        <div ng-if="!vm.selected.outOfScope">
                            <tmt-element-threats suggest="vm.generateThreats" threats="vm.selected.threats" type="vm.diagram.diagramType" save="vm.edit" setdirty="vm.setDirty" />
                        </div>
                        <div ng-if="vm.selected.outOfScope">
                            <em>The selected element is out of scope</em>
                        </div>                       
                    </div>
                    <div ng-if="vm.selected && vm.selected.attributes.type == 'tm.Boundary'">
                        <em>Threats are not associated with trust boundaries</em>
                    </div>
                </div>
            </uib-accordion>
        </div>
        <!--Diagram area-->
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div ng-if="!vm.diagram.title" class="panel-heading panel-title">
                    <span>Loading...</span>
                </div>
                <div ng-if="vm.diagram.title" class="panel-heading panel-title">
                    <span editable-text="vm.diagram.title" ng-click="diagramTitleInput.$show()" onaftersave="vm.save()" e-form="diagramTitleInput" e-required e-placeholder="Diagram title">{{ vm.diagram.title }}</span>
                    <span class="pull-right" >
                        <button class="btn btn-default btn-diagram-type" ng-model="vm.diagram.diagramType" ng-click="vm.updateDiagramType()" uib-btn-radio="'STRIDE'" >STRIDE</button>
                        <label class="btn btn-default btn-diagram-type" ng-model="vm.diagram.diagramType" ng-click="vm.updateDiagramType()" uib-btn-radio="'CIA'" >CIA</label>
                        <label class="btn btn-default btn-diagram-type" ng-model="vm.diagram.diagramType" ng-click="vm.updateDiagramType()" uib-btn-radio="'LINDDUN'" >LINDDUN</label>
                    </span>
                </div>
                <div class="panel-body">
                    <form name="diagramEditToolBar">
                        <div class="col-md-12">
                            <div class="btn-group pull-left" role="group">
                                <button class="btn btn-default" type="button" data-toggle="tooltip" ng-click="vm.clear()" data-placement="top" title="Delete All Elements From This Diagram">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-default" type="button" data-toggle="tooltip" ng-click="vm.reload()" data-placement="top" title="Discard Changes And Reopen Diagram">
                                    <span class="fa fa-undo" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default" ng-model="vm.showGrid" uib-btn-checkbox ng-click="vm.setGrid()" data-toggle="tooltip" data-placement="top" title="Toggle Gridlines">
                                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-default" ng-disabled="vm.selected == null || vm.selected.outOfScope || vm.selected.attributes.type == 'tm.Boundary'" type="button" data-toggle="tooltip" ng-click="vm.generateThreats(vm.diagram.diagramType)" data-placement="top" title="Suggest threats for the selected element">
                                    <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-default" ng-disabled="vm.selected == null" type="button" data-toggle="tooltip" ng-click="vm.duplicateElement()" data-placement="top" title="Duplicate the selected element">
                                    <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
                                </button>
                                <button class="btn btn-default" type="button" data-toggle="tooltip" ng-click="vm.save()" data-placement="top" title="Save Diagram">
                                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                                </button>
                                <a class="btn btn-default" ng-href="#/threatmodel/{{vm.getThreatModelPath()}}" role="button" data-toggle="tooltip" data-placement="top" title="Close and Return">
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                </a>
                            </div>
                        </div>
                    </form>
                    <div class="tmt-diagram-container">
                        <tmt-diagram graph="vm.graph" select="vm.select(element)" new-flow="vm.newFlow(source, target)" initialise-graph="vm.initialise(diagram)" height="600" width="800" grid-size="1" interactive="true"/>
                    </div>
                </div>
            </div>
        </div>
        <!--Element properties-->
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading panel-title">Properties</div>
                <div class="panel-body">
                    <div ng-if="vm.selected">
                        <tmt-element-properties edit=" vm.edit()" selected="vm.selected" element-type="{{vm.selected.attributes.type}}">
                    </div>
                    <div ng-if="!vm.selected">
                        <em>Select an element in the diagram to see or edit its properties</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Error content-->
    <div ng-show="vm.errored">
        <div class="jumbotron">
            <h1>oooops!</h1>
            <p>
                It looks like you tried to edit a threat model diagram that doesn't exist. Maybe you typed the
                address wrong? Or if you clicked a link to get here, the diagram might have been
                deleted since you made the link <span class="fa fa-frown-o"></span>
            </p>
            <p>
                <a href="#">Take me home</a>
            </p>
        </div>
    </div>
</div>
