<form name="elementPropertiesEditForm">
    <div>
        <div class="form-group">
            <label>Name</label>
            <input name="nameInput" class="form-control" type="text" ng-model="selected.name" ng-change="edit()" placeholder="Element name" />
        </div>
    </div>
    <div ng-show="elementType !== 'tm.Boundary'">
        <div class="form-group">
            <label>Description</label>
            <textarea name="textareaDescription" rows="4" class="form-control" type="text" ng-model="selected.description" ng-change="edit()" placeholder="Description"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxOutOfScope" type="checkbox" ng-model="selected.outOfScope" ng-change="edit()" /> Out of scope
            </label>
        </div>
        <div class="form-group">
            <label>Reason for out of scope</label>
            <textarea name="textareaReasonOutOfScope" ng-disabled="!selected.outOfScope" rows="4" class="form-control" type="text" ng-model="selected.reasonOutOfScope" ng-change="edit()" placeholder="Reason for out of scope"></textarea>
        </div>
    </div>
    <div ng-show="elementType === 'tm.Process'">
        <div class="form-group">
            <label>Privilege level</label>
            <input name="privilegeLevelInput" ng-disabled="selected.outOfScope" class="form-control" type="text" ng-model="selected.privilegeLevel" ng-change="edit()" placeholder="Privilege level" />
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxHandlesCardPayment" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.handlesCardPayment" ng-change="edit()" /> Handles card payment
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsWebApplication" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isWebApplication" ng-change="edit()" /> Is web application
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxHandlesGoodsOrServices" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.handlesGoodsOrServices" ng-change="edit()" /> Handles goods or services
            </label>
        </div>
    </div>
    <div ng-show="elementType === 'tm.Actor'">
        <div class="checkbox">
            <label>
                <input name="checkboxProvidesAuthentication" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.providesAuthentication" ng-change="edit()" /> Provides authentication
            </label>
        </div>
    </div>
    <div ng-show="elementType === 'tm.Store'">
        <div class="checkbox">
            <label>
                <input name="checkboxIsALog" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isALog" ng-change="edit()" /> Is a log
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxStoresCredentials" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.storesCredentials" ng-change="edit()" /> Stores credentials
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxStoresInventory" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.storesInventory" ng-change="edit()" /> Stores inventory
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsEncryptedStore" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isEncrypted" ng-change="edit()" /> Is encrypted
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsSigned" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isSigned" ng-change="edit()" /> Is signed
            </label>
        </div>
    </div>
    <div ng-show="elementType === 'tm.Flow'">
        <div class="form-group">
            <label>Protocol</label>
            <input name="inputProtocol" ng-disabled="selected.outOfScope" class="form-control" type="text" ng-model="selected.protocol" ng-change="edit()" placeholder="Protocol" />
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsEncryptedFlow" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isEncrypted" ng-change="edit()" /> Is encrypted
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="checkboxIsPublicNetwork" ng-disabled="selected.outOfScope" type="checkbox" ng-model="selected.isPublicNetwork" ng-change="edit()" /> Is over a public network
            </label>
        </div>
    </div>
</form>
