<ul id="threatSummaryPane" class="list-group">
    <li class="list-group-item" ng-repeat="threat in threats">
        <a id="editThreat{{$index}}" href="" ng-click="onEditThreat($index)" data-toggle="tooltip" data-placement="top" title="Edit {{threat.title}}">
            <div class="text-overflow"><small>{{threat.title}}</small></div>
        </a>
        <div>
            <small>{{threat.type}}</small>
        </div>
        <div>
            <span ng-class="{NotApplicable:'severity-low fa fa-check', Open:'severity-high fa fa-exclamation-triangle', Mitigated:'severity-low fa fa-check'}[threat.status]" data-toggle="tooltip" data-placement="top" title="{{threat.status}}"></span>
            <span ng-class="{Low:'fa fa-circle severity-low', Medium:'fa fa-circle severity-medium', High:'fa fa-circle severity-high'}[threat.severity]" data-toggle="tooltip" data-placement="top" title="{{threat.severity}}"></span>
            <span id="remove{{$index}}" class="pull-right glyphicon glyphicon-remove severity-high" ng-click="removeThreat($index)" data-toggle="tooltip" data-placement="top" title="Remove this threat"></span>
        </div>
    </li>
</ul> 
<button id="buttonNewThreat" class="btn btn-link" ng-click="onNewThreat()">
    <span class="glyphicon glyphicon-plus"></span> Add a new threat...
</button>
<button id="buttonNewThreatPerElement" class="btn btn-link" ng-click="onSuggestThreats()">
    <span class="glyphicon glyphicon-plus"></span> {{type}} per element...
</button>
