name: Deploy
concurrency: deploy
on:
  push:
    branches:
      - 'v2-development'
env:
  # TODO: Update after we get an "official" home
  image_name: imoshtokill/threat-dragon:v2
  heroku_app: threatdragon-v2
jobs:
  publish_docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ hashFiles('Dockerfile') }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags:  ${{ env.image_name }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

  deploy:
    runs-on: ubuntu-latest
    needs: [publish_docker]
    # There is an action to build and deploy a heroku app
    # We already built the container though, so why not just re-tag and push
    steps:
      - name: Pull docker image
        run: docker pull ${{ env.image_name }}

      - name: Login to Heroku Registry
        uses: docker/login-action@v1
        with:
          registry: registry.heroku.com
          username: _
          password: ${{ secrets.HEROKU_API_KEY }}

      - name: Tag Heroku image
        run: docker tag ${{ env.image_name }} registry.heroku.com/${{ env.heroku_app }}/web

      - name: Push to Heroku
        run: docker push registry.heroku.com/${{ env.heroku_app }}/web

      - name: Deploy to Heroku
        run: heroku container:release web --app ${{ env.heroku_app }}
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

  smoke_tests:
    runs-on: ubuntu-latest
    needs: [deploy]
    defaults:
      run:
        working-directory: td.vue
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Cache NPM dir
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-npm-cache-site-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-npm-cache-site-

      - name: npm ci
        run: npm ci

      - name: BrowserStack Env Setup
        uses: browserstack/github-actions/setup-env@master
        with:
          username:  ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}

      - name: Run cross-browser smoke tests
        run: npm run test:e2e-smokes

  rollback:
    runs-on: ubuntu-latest
    needs: [smoke_tests]
    if: ${{ failure() }}
    steps:
      - name: Rollback
        run: heroku rollback --app ${{ env.heroku_app }}
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
