name: Housekeeping
on:
  # Run daily at 7:00
  schedule:
    - cron: '0 7 * * *'
  workflow_dispatch:

# for security reasons the github actions are pinned to specific release versions
jobs:
  chores:
    name: Tidy workflows
    runs-on: ubuntu-22.04

    steps:
      - name: Delete stale workflow runs
        uses: Mattraks/delete-workflow-runs@v2.0.3
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 28
          keep_minimum_runs: 10

      - name: Delete unused workflows
        uses: otto-de/purge-deprecated-workflow-runs@v1.1.1
        with:
          token: ${{ github.token }}

  trivy:
    name: Scan with trivy
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.5.2
        with:
          ref: main

      - name: Run vulnerability scanner
        uses: aquasecurity/trivy-action@0.10.0
        with:
          image-ref: "threatdragon/owasp-threat-dragon:${{ github.sha }}"
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'

      - name: Upload scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2.3.0
        with:
          sarif_file: 'trivy-results.sarif'

  codeql:
    name: Analyze with codeql
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.5.2
        with:
          ref: main

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2.3.0
        with:
          languages: 'javascript'
          config-file: ./.github/codeql/codeql-config.yml
          # If you wish to specify custom queries, you can do so here or in a config file.
          # By default, queries listed here will override any specified in a config file.
          # Prefix the list here with "+" to use these queries and those in the config file.

      - name: CodeQL autobuild
        uses: github/codeql-action/autobuild@v2.3.0

      - name: Perform vulnerability analysis
        uses: github/codeql-action/analyze@v2.3.0

  link_checker:
    name: Link checker
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v3.5.2

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
